<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        body {
            background-image: url("background3.jpg");
            background-size: 100%;
        }

        h1 {
            color: white;
            text-align: center;
            -webkit-text-stroke: 1px blue;
        }
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cart</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-2">
        <a class="navbar-brand" style="color: rgb(191, 255, 161)">Cart</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
            </ul>
            <form method="POST" action='/search' class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" name="Search" type="search" placeholder="Search"
                    aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>
    <script>
        var list="<%=list%>";
        var first="<%=first%>";
        onload=function(){
            if(first=="1"){
                location.href="/cart2";
            }
        }
        if(list.length>0){
            var arr=list.split(",-,");
        }
        if(list.length==0){
            var h1=document.createElement("h1");
            var body=document.querySelector("body");
            h1.innerHTML="you donot have any thing in the cart yet";
            body.appendChild(h1);
        }
        var arr2=[];
        var i=0;
        for(i=0;i<arr.length;i++){
            var temp=arr[i].split(",");
            arr2=arr2.concat([temp]);
        }
        i=0;
        for(i=0;i<arr2.length;i++){
            var body=document.querySelector("body");
            var div=document.createElement("div");
            div.style.width="350px";
            div.style.height="400";
            var view=document.createElement("button");
            var del=document.createElement("button");
            var img=document.createElement("img");
            var add=document.createElement("button");
            var min = document.createElement("button");
            var label=document.createElement("label");
            if(arr2[i][1]=="tennis racket"){
                img.src="tennis.jpg";
                div.id="tennis";
                label.id="tennis";
                view.onclick=function(){
                    history.replaceState(null,'','cart');
                    location.href="/tennis";
                }
                del.onclick=function(){
                    var div2=document.querySelectorAll("div");
                    var k=0;
                    for(k=0;k<div2.length;k++){
                    if(div2[k].id=="tennis"){
                        body.removeChild(div2[k])
                    }
                    }
                    
                    location.href="/del-tennis";
                }
                add.onclick=function(){
                    var l=document.querySelectorAll("label");
                    var j=0;
                    for(j=0;j<l.length;j++){
                        if(l[j].id=="tennis"){
                            l[j].innerHTML=parseInt(l[j].innerHTML) +1+"";
                            arr[i-1][2]=parseInt(arr[i-1][2])+1+"";
                            break;
                        }
                    }
                    //
                    history.replaceState(null,'','cart');

                    location.href="/add-tennis";
                }
                min.onclick=function(){
                    var l=document.querySelectorAll("label");
                    var j=0;
                    for(j=0;j<l.length;j++){
                        if(l[j].id=="tennis"){
                            l[j].innerHTML=parseInt(l[j].innerHTML) -1+"";
                            arr[i-1][2]=parseInt(arr[i-1][2])-1+"";
                            if(l[j].innerHTML=="0"){
                                var div2=document.querySelectorAll("div");
                                var k=0;
                                for(k=0;k<div2.length;k++){
                                    if(div2[k].id=="tennis"){
                                        body.removeChild(div2[k])
                                    }
                                }
                            }
                            break;
                        }
                    }
                    
                    history.replaceState(null,'','cart');

                    location.href="/min-tennis";
                }
            }else if(arr2[i][1]=="boxing bag"){
                img.src="boxing.jpg";
                div.id="boxing";
                label.id="boxing";
                view.onclick=function(){
                    history.replaceState(null,'','cart');

                    location.href="/boxing";
                }
                del.onclick=function(){
                    var div2=document.querySelectorAll("div");
                    var k=0;
                    for(k=0;k<div2.length;k++){
                    if(div2[k].id=="boxing"){
                        body.removeChild(div2[k])
                    }
                    }
                    
                    location.href="/del-boxing";
                }
                add.onclick=function(){
                    var l=document.querySelectorAll("label");
                    var j=0;
                    for(j=0;j<l.length;j++){
                        if(l[j].id=="boxing"){
                            l[j].innerHTML=parseInt(l[j].innerHTML) +1+"";
                            arr[i-1][2]=parseInt(arr[i-1][2])+1+"";
                            break;
                        }
                    }
                    //
                    history.replaceState(null,'','cart');

                    location.href="/add-boxing";
                }
                min.onclick=function(){
                    var l=document.querySelectorAll("label");
                    var j=0;
                    for(j=0;j<l.length;j++){
                        if(l[j].id=="boxing"){
                            l[j].innerHTML=parseInt(l[j].innerHTML) -1+"";
                            arr[i-1][2]=parseInt(arr[i-1][2])-1+"";
                            if(l[j].innerHTML=="0"){
                                var div2=document.querySelectorAll("div");
                                var k=0;
                                for(k=0;k<div2.length;k++){
                                    if(div2[k].id=="boxing"){
                                        body.removeChild(div2[k])
                                    }
                                }
                            }
                            break;
                        }
                    }
                    
                    history.replaceState(null,'','cart');

                    location.href="/min-boxing";
                }
            }else if(arr2[i][1]=="galaxy s21"){
                img.src="galaxy.jpg";
                div.id="galaxy";
                label.id="galaxy";
                view.onclick=function(){
                    history.replaceState(null,'','cart');

                    location.href="/galaxy";
                }
                del.onclick=function(){
                    var div2=document.querySelectorAll("div");
                    var k=0;
                    for(k=0;k<div2.length;k++){
                    if(div2[k].id=="galaxy"){
                        body.removeChild(div2[k])
                    }
                    }
                    
                    location.href="/del-galaxy";
                }
                add.onclick=function(){
                    var l=document.querySelectorAll("label");
                    var j=0;
                    for(j=0;j<l.length;j++){
                        if(l[j].id=="galaxy"){
                            l[j].innerHTML=parseInt(l[j].innerHTML) +1+"";
                            arr[i-1][2]=parseInt(arr[i-1][2])+1+"";
                            break;
                        }
                    }
                    
                    history.replaceState(null,'','cart');

                    location.href="/add-galaxy";
                }
                min.onclick=function(){
                    var l=document.querySelectorAll("label");
                    var j=0;
                    for(j=0;j<l.length;j++){
                        if(l[j].id=="galaxy"){
                            l[j].innerHTML=parseInt(l[j].innerHTML) -1+"";
                            arr[i-1][2]=parseInt(arr[i-1][2])-1+"";
                            if(l[j].innerHTML=="0"){
                                var div2=document.querySelectorAll("div");
                                var k=0;
                                for(k=0;k<div2.length;k++){
                                    if(div2[k].id=="galaxy"){
                                        body.removeChild(div2[k])
                                    }
                                }
                            }
                            break;
                        }
                    }
                    
                    history.replaceState(null,'','cart');

                    location.href="/min-galaxy";
                }
            }else if(arr2[i][1]=="iphone 13 pro"){
                img.src="iphone.jpg";
                div.id="iphone";
                label.id="iphone";
                view.onclick=function(){
                    history.replaceState(null,'','cart');

                    location.href="/iphone";
                    
                }
                del.onclick=function(){
                    var div2=document.querySelectorAll("div");
                    var k=0;
                    for(k=0;k<div2.length;k++){
                    if(div2[k].id=="iphone"){
                        body.removeChild(div2[k])
                    }
                    }
                    
                    location.href="/del-iphone";
                }
                add.onclick=function(){
                    var l=document.querySelectorAll("label");
                    var j=0;
                    for(j=0;j<l.length;j++){
                        if(l[j].id=="iphone"){
                            l[j].innerHTML=parseInt(l[j].innerHTML) +1+"";
                            arr[i-1][2]=parseInt(arr[i-1][2])+1+"";
                            break;
                        }
                    }
                    
                    history.replaceState(null,'','cart');

                    location.href="/add-iphone";
                }
                min.onclick=function(){
                    var l=document.querySelectorAll("label");
                    var j=0;
                    for(j=0;j<l.length;j++){
                        if(l[j].id=="iphone"){
                            l[j].innerHTML=parseInt(l[j].innerHTML) -1+"";
                            arr[i-1][2]=parseInt(arr[i-1][2])-1+"";
                            if(l[j].innerHTML=="0"){
                                var div2=document.querySelectorAll("div");
                                var k=0;
                                for(k=0;k<div2.length;k++){
                                    if(div2[k].id=="iphone"){
                                        body.removeChild(div2[k])
                                    }
                                }
                            }
                            break;
                        }
                    }
                    
                    history.replaceState(null,'','cart');

                    location.href="/min-iphone";
                }
            }else if(arr2[i][1]=="leaves of grass"){
                img.src="leaves.jpg";
                div.id="leaves";
                label.id="leaves";
                view.onclick=function(){
                    history.replaceState(null,'','cart');

                    location.href="/leaves";
                }
                del.onclick=function(){
                    var div2=document.querySelectorAll("div");
                    var k=0;
                    for(k=0;k<div2.length;k++){
                    if(div2[k].id=="leaves"){
                        body.removeChild(div2[k])
                    }
                    }
                    
                    location.href="/del-leaves";
                }
                add.onclick=function(){
                    var l=document.querySelectorAll("label");
                    var j=0;
                    for(j=0;j<l.length;j++){
                        if(l[j].id=="leaves"){
                            l[j].innerHTML=parseInt(l[j].innerHTML) +1+"";
                            arr[i-1][2]=parseInt(arr[i-1][2])+1+"";
                            break;
                        }
                    }
                    
                    history.replaceState(null,'','cart');

                    location.href="/add-leaves";
                }
                min.onclick=function(){
                    var l=document.querySelectorAll("label");
                    var j=0;
                    for(j=0;j<l.length;j++){
                        if(l[j].id=="leaves"){
                            l[j].innerHTML=parseInt(l[j].innerHTML) -1+"";
                            arr[i-1][2]=parseInt(arr[i-1][2])-1+"";
                            if(l[j].innerHTML=="0"){
                                var div2=document.querySelectorAll("div");
                                var k=0;
                                for(k=0;k<div2.length;k++){
                                    if(div2[k].id=="leaves"){
                                        body.removeChild(div2[k])
                                    }
                                }
                            }
                            break;
                        }
                    }
                    
                    history.replaceState(null,'','cart');

                    location.href="/min-leaves";
                }
            }else if(arr2[i][1]=="the sun and her flowers"){
                img.src="sun.jpg";
                div.id="sun";
                label.id="sun";
                view.onclick=function(){
                    history.replaceState(null,'','cart');

                    location.href="/sun";
                }
                del.onclick=function(){
                    var div2=document.querySelectorAll("div");
                    var k=0;
                    for(k=0;k<div2.length;k++){
                    if(div2[k].id=="sun"){
                        body.removeChild(div2[k])
                    }
                    }
                    
                    location.href="/del-sun";
                }
                add.onclick=function(){
                    var l=document.querySelectorAll("label");
                    var j=0;
                    for(j=0;j<l.length;j++){
                        if(l[j].id=="sun"){
                            l[j].innerHTML=parseInt(l[j].innerHTML) +1+"";
                            arr[i-1][2]=parseInt(arr[i-1][2])+1+"";
                            break;
                        }
                    }
                    
                    history.replaceState(null,'','cart');

                    location.href="/add-sun";
                }
                min.onclick=function(){
                    var l=document.querySelectorAll("label");
                    var j=0;
                    for(j=0;j<l.length;j++){
                        if(l[j].id=="sun"){
                            l[j].innerHTML=parseInt(l[j].innerHTML) -1+"";
                            arr[i-1][2]=parseInt(arr[i-1][2])-1+"";
                            if(l[j].innerHTML=="0"){
                                var div2=document.querySelectorAll("div");
                                var k=0;
                                for(k=0;k<div2.length;k++){
                                    if(div2[k].id=="sun"){
                                        body.removeChild(div2[k])
                                    }
                                }
                            }
                            break;
                        }
                    }
                    
                    history.replaceState(null,'','cart');

                    location.href="/min-sun";
                }
            }
            add.innerHTML="+";
            add.style.position="relative";
            add.style.left="210px";
            add.style.top="12px";
            add.className="btn btn-secondary ml-3";
            min.innerHTML="-";
            label.innerHTML=arr2[i][2]
            label.style.position="relative"
            label.style.left="180px";
            label.style.top="12px";
            label.style.color="white";
            min.style.position="relative";
            min.style.left="235px";
            min.style.top="12px";
            min.className="btn btn-secondary ml-3";
            img.style.position="relative";
            img.style.left="25px";
            img.style.top="0px";
            img.style.width="300px";
            img.style.height="300px";
            del.innerHTML="Delete";
            del.className="btn btn-secondary ml-3";
            view.className="btn btn-secondary ml-3";
            view.innerHTML="View info";
            del.style.position="relative";
            del.style.left="10px";
            del.style.top="350px";
            view.style.position="relative";
            view.style.left="8px";
            view.style.top="350px";
            div.appendChild(del);
            div.appendChild(view);
            div.appendChild(img);
            div.appendChild(add);
            div.appendChild(min);
            div.appendChild(label);
            body.appendChild(div);
        }
    </script>
</body>
</html>