<!DOCTYPE html>
<html>
    <head>
        
    </head>
    <body>
        <script>
            location.href="/cart"
            
            history.back();
            //window.history.go(-1);
        </script>
            
    </body>
</html>