<!DOCTYPE html>
<html>
    <head>
        <title>SignUp</title>
    </head>
    <body>
        <form method="post"> 
            <div id="wrong">
            </div>
            <div id="user"> Choose username <input type="text" name="username"> </div>
            <div id="pass">Choose password <input type="password" name="password" > </div>
            <button formaction="submit" type="submit" name="submit" >Submit</button>
        </form>
        <script>
            var repeat="<%=repeat%>";
            if(repeat=="a"){
                var p=document.createElement("p");
                p.style.color="red";
                p.innerHTML="This username is already used";
                var div=document.querySelector("div[id=wrong]");
                div.appendChild(p);
            }
        </script>
    </body>
    <style>
        #wrong{
            position: absolute;
            top: 0px;
            left:70px;
        }
        #user{
            position: absolute;
            top: 30px;
            left:70px;
        }
        #pass{
            position: absolute;
            top: 60px;
            left:70px;
        }
        button{
            position: absolute;
            top: 80px;
            left:70px;
        }
    </style>
</html>