<!DOCTYPE html>
<html>
  <head>
    <title>Log In</title>
    <link type="text/css" href="/css/styles.css" rel="stylesheet">
  </head>
  <body>
    <div id="aa">
      <form method="post">
        User Name <input type="text" name="username">
      Password <input type="password" name="password">
      <button formaction="log" name="log" >Login</button>
      <button  formaction="sign" name="sign" > Signup</button> 
      </form>
    </div>
    <script>
      var wrong="<%=wrong%>";
      if(wrong=="a"){
        var p=document.createElement("p");
        p.style.position="relative";
        p.style.top='10px';
        p.style.left='50px';
        p.style.color="red";
        p.innerHTML="Wrong password or username";
        var div=document.querySelector("div");
        div.appendChild(p);
      }
    </script>
  </body>
  <style>
    #aa{
      position : relative;
    left: 200px;
    top: 70px;
   }
   p{
     color:red;
   }

  </style>
</html>
