<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
        <script>
            var done="<%=done%>";
            window.location.href="/"+done;
            window.history.back();
        </script>
    </body>
</html>